# استبعاد فولدرات الـ Build (مهم جداً)
bin/
obj/

# استبعاد ملفات معينة بالاسم
my_secret_file.txt

# استبعاد أي ملف ينتهي بامتداد معين (مثل قواعد البيانات)
*.db

# استبعاد فولدرات الإعدادات الخاصة بالـ Editor
.vscode/
.vs/